
.pdcBG {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-width: 900px;
  margin: 2rem auto;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pdcBG input{
    width: 100%;
    max-width: 350px;
    height: 30px;
    background-color: #F2EFE7;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

input:hover, input:focus, input-group:hover input {
    outline: none;
    border-color: #05060f;
    }

    input-group:hover, input:focus {
    color: #05060fc2;
    }

@media (min-width: 768px){
    .pdcTitre{
        padding: 3rem;
    }

    main{
        padding: 0 12.5%;
        margin: 5rem 0;
    }

    .pdcBG{
        background-color: #EAE3D6;
    }

    .home{
        margin: 10rem 0;
    }
}

.btn-envoyer{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 20px;
    width: 200px;
}